<template>
    <main class="container">
        <h1 v-if="this.$store.state.questionsFinishedLoading === false">Just wait while the questions are loading...</h1>
        <div v-if="this.$store.state.questionsFinishedLoading === true">
            <h1>Question {{this.$store.state.questionIndex + 1}}</h1>
            <h4>{{this.$store.state.questions[this.$store.state.questionIndex].question}}</h4>
            <div>
                <AnswerBlockMultiple v-if="this.$store.state.questions[this.$store.state.questionIndex].type === 'multiple'"/>
                <AnswerBlockBoolean v-if="this.$store.state.questions[this.$store.state.questionIndex].type === 'boolean'"/>
            </div>
        </div>
    </main>
</template>

<script>
    import AnswerBlockMultiple from '../components/AnswerBlockMultiple.vue'
    import AnswerBlockBoolean from '../components/AnswerBlockBoolean.vue'
    export default {
        name: "QuestionScreen",
        components: {
            AnswerBlockMultiple,
            AnswerBlockBoolean
        }
    }
</script>

<style scoped>
    .container {
        width: 60%;
    }
</style>
