<template>
    <main class="container">
        <h1>Results (10 points for each correct)</h1>
        <div v-for="(result, index) in getResults" :key="index">
            <h4>Question {{index + 1}}:</h4>
            <span>{{result.question}}</span>
            <br>
            <span>You answered: {{result.userAnswer}}</span>
            <span id="mi-correct" v-if="result.correctAnswer === result.userAnswer" class="material-icons">
                check_circle_outline
            </span>
            <span v-if="result.correctAnswer !== result.userAnswer">
                <span id="mi-wrong" class="material-icons">
                    highlight_off
                </span>
                <span>Correct answer was: {{result.correctAnswer}}</span>
            </span>
        </div>
        <h1>Your score was: {{getUserScore}}/{{getPossibleScore}}</h1>
        <span v-on:click="handleGoBack" class="material-icons">
            arrow_back
        </span> Go back to start
        <span v-on:click="hadleRetry" class="material-icons">
            refresh
        </span> Retry
    </main>
</template>

<script>
    export default {
        name: "ResultScreen",
        methods: {
            handleGoBack() {
                // redirect route
                this.$router.push("/")

                // reset states
                this.$store.commit("setQuestionQuantity", 1)
                this.$store.commit("setSelectedCategory", 9)
                this.$store.commit("setDifficulty", "easy")
                this.$store.commit("setQuestionsFinishedLoading", false)
                this.$store.commit("resetQuestionIndex")
                this.$store.commit("resetScore")
                this.$store.commit("resetResults")
            },
            hadleRetry() {
                // redirect route
                this.$router.push("/questions")

                // get the new questions from an API fetch call
                this.$store.dispatch("setQuestions")
                this.$store.commit("setQuestionsFinishedLoading", false)

                // reset states
                this.$store.commit("resetQuestionIndex")
                this.$store.commit("resetScore")
                this.$store.commit("resetResults")

                setTimeout(() => { this.$store.commit("setQuestionsFinishedLoading", true) }, 2000)


            }
        },
        computed: {
            getResults() {
                return this.$store.state.results
            },
            getUserScore() {
                return this.$store.state.score
            },
            getPossibleScore() {
                return this.$store.state.questionQuantity * 10
            }
        }
    }
</script>

<style scoped>
    #mi-correct {
        color: green;
    }

    #mi-wrong {
        color: red;
    }
</style>
