<template>
    <main class="container">
        <h1>Select how many questions you want</h1>
        <select v-on:change="updateQuestionQuantity" class="form-select">
            <option v-for="n in 10" v-bind:key="n">{{n}}</option>
        </select>
        <h1>Select category</h1>
        <select v-on:change="updateSelectedCategory" class="form-select">
            <option v-for="(category, index) of categories" v-bind:key="index">{{category}}</option>
        </select>
        <h1>Select difficulty</h1>
        <input v-on:click="updateDifficulty" type="radio" name="radioBtnGroup" id="radio1" value="easy" class="form-check-input" checked>
        <label for="radio1" class="form-label">Easy</label>

        <input v-on:click="updateDifficulty" type="radio" name="radioBtnGroup" id="radio2" value="medium" class="form-check-input">
        <label for="radio2" class="form-label">Medium</label>

        <input v-on:click="updateDifficulty" type="radio" name="radioBtnGroup" id="radio3" value="hard" class="form-check-input">
        <label for="radio3" class="form-label">Hard</label>

        <br>
        <button class="btn-primary" v-on:click="handlePlay">Play</button>
    </main>
</template>

<script>
    export default {
        name: "StartScreen",
        data() {
            return {
                categories: ["General Knowledge", "Books", "Film", "Music", "Musicals & Theatres", "Television", "Video Games", "Board Games", "Science & Nature", "Computers", "Mathematics", "Mythology", "Sports", "Geography", "History", "Politics", "Art", "Celebrities", "Animals"]
            }
        },
        methods: {

            // update state: questionQuantity, when the user changes the quantity
            updateQuestionQuantity(event) {
                this.$store.commit("setQuestionQuantity", event.target.value)
            },

            // update state: difficulty, when a radio button is clicked
            updateDifficulty(event) {
                this.$store.commit("setDifficulty", event.target.value)
            },

            // update state: selectedCategory, when the user changes a category
            updateSelectedCategory(event) {
                this.$store.commit("setSelectedCategory", this.categories.indexOf(event.target.value) + 9)
            },

            // Triggered when the user clicks on the "Play" button
            handlePlay() {
                this.$store.dispatch("setQuestions")
                this.$router.push("/questions")

                setTimeout(() => { this.$store.commit("setQuestionsFinishedLoading", true) }, 2000)
            }
        }
    }
</script>


<style scoped>
    .container {
        width: 50%;
    }
    .form-label {
        margin-right: 10px;
        margin-left: 5px;
    }
    .btn-primary {
        background-color: lightgreen;
        border-color: green;
        color: black;
    }
    .btn-primary:hover {
        background-color: green;
    }
</style>