<template>
    <main>
        <h2 class="mt-5">Select an answer</h2>
        <button v-on:click="handleAnswerClick" class="btn btn-primary" v-for="answerOption in getAnswers" :key="answerOption">{{answerOption}}</button>
    </main>
</template>

<script>
    export default {
        name: "AnswerBlockMultiple",
        computed: {
            getAnswers() {
                return this.$store.getters.getAnswers
            }
        },
        methods: {
            increaseQuestionIndex() {
                this.$store.commit("increaseQuestionIndex")
            },
            pushUserAnswerToResults(event) {
                let currentQuestion = this.$store.state.questions[this.$store.state.questionIndex]
                const userAnswer = event.target.innerHTML
                const correctAnswer = currentQuestion.correct_answer

                this.$store.commit("pushUserAnswerToResults", {
                    question: currentQuestion.question,
                    userAnswer: userAnswer,
                    correctAnswer: correctAnswer
                })

                if (userAnswer.valueOf() === correctAnswer.valueOf()) {
                    this.$store.commit("increaseScore")
                }
                else {
                    console.log(userAnswer)
                    console.log(correctAnswer)
                }
            },
            handleAnswerClick(event) {
                this.pushUserAnswerToResults(event)
                this.increaseQuestionIndex()
            }
        }
    }
</script>

<style scoped>
    button {
        height: 100px;
        width: 125px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: lightsalmon;
    }
</style>
